<form method="post" action="{{ path('app_lugar_delete', {'id': pago.id}) }}" onsubmit="return confirm('Realmente quiere {{ (pago.getRemoved == false)? 'Eliminar':'Reintegrar' }} este item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pago.id) }}">
	<button class="btn btn-outline-danger btn-sm "{{ (pago.getRemoved == false)? 'danger':'primary' }}>{{ (pago.getRemoved == false)? 'Eliminar':'Reintegrar' }}</button>
</form>