{% extends 'base.html.twig' %}

{% block headerTitle %}
Editar Usuarios
{% endblock headerTitle %}

{% block headerBreadcrumb %}
<li class="breadcrumb-item"><a href='{{ path('index') }}'><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a>Usuarios</a></li>
{% endblock headerBreadcrumb %}

{% block body %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="mr-4 btn btn-outline-primary" style="float: right" href="{{ path('user_index') }}">Volver </a>
	</div>


    
<div class="card">
    <div class="card-body d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Ver y Editar Perfil</h5>
        <button type="button" class="btn btn-icon btn-outline-warning" data-toggle="collapse"
            data-target=".pro-dont-edit" aria-expanded="true" aria-controls="pro-dont-edit-1 pro-dont-edit-2" id="btnEdit">
            <i class="feather icon-edit-2"></i>
        </button>
    </div>
    {% set rol = {    
            "ROLE_SUPER_ADMIN": "Super Administrador",
            "ROLE_ADMIN" : "Administrador",
            "ROLE_USER" : "Rol de Usuario Deprecado",
            "ROLE_USER_EXTERNAL" : "Rol de Usuario Externo",
    } %}
    <div class="card-body border-top pro-dont-edit collapse show" id="pro-dont-edit-1">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bolder">Id</label>
            <div class="col-sm-9">
                {{ user.id }}
            </div>
            
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bolder">Username</label>
            <div class="col-sm-9">
                {{ user.username }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bolder">Roles</label>
            <div class="col-sm-9">
                {% for rolname in  user.roles %}
                {{ rol[rolname] }} 
                {% if not loop.last %}
                    |
                {% endif %}
                
                {% endfor %}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bolder">Persona</label>
            <div class="col-sm-9">
                {{ user.persona }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bolder">Creado En</label>
            <div class="col-sm-9">
                {{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}
            </div>
        </div>
    </div>

    {# Esto es el edit #}

    <div class="card-body border-top pro-dont-edit collapse" id="pro-dont-edit-2">
        {{ form_start(form) }}
            <div class="form-group row">
                {{ form_label(form.username, 'Username') }}
                <div class="col-sm-9">
                    {{ form_widget(form.username) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.roles, 'Roles') }}
                <div class="col-sm-9">
                    {{ form_widget(form.roles) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.persona, 'Persona') }}
                <div class="col-sm-9">
                    {{ form_widget(form.persona) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.password, 'Contraseña') }}
                <div class="col-sm-9">
                    {{ form_widget(form.password) }}
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <button class="btn btn-outline-primary">{{ button_label|default('Guardar') }}</button>
                </div>
            </div>
        {{ form_end(form) }}
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style >
        span.select2-container{
            width:100%!important;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
            {% if not form.vars.valid %}
                $('#btnEdit').click();
            {% endif %}
        });
    </script>
{% endblock %}